<html>
  <head>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"
    />

    <!-- 부가적인 테마 -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css"
    />

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script type=text/javascript> $(function() { $("#send_button").click(function (event) { $.getJSON('/send_img', { },
    function(data) { }); return false; }); }); </script> 
    <script>
      if (!!window.EventSource) {
        var source = new EventSource("/drone_num");
        source.onmessage = function (e) {
          var jbSplit = e.data.split(",");
          for (var i in jbSplit) {
            $("#cam" + i).text(jbSplit[i]);
          }
        };
      }
      $(document).ready(function (e){
            $(document).on("click","img",function(){
                var path = $(this).attr('src')
                showImage(path);
            });//end click event
            
      function showImage(fileCallPath){
                
                $(".bigPictureWrapper").css("display","flex").show();
                
                $(".bigPicture")
                .html("<img src='"+fileCallPath+"' >");
                
            }//end fileCallPath
            
            $(".bigPictureWrapper").on("click", function(e){
                setTimeout(function(){
                $('.bigPictureWrapper').hide();
                }, 300);
            });//end bigWrapperClick event
        });
    </script>
    <style>
      #drone_data{
        text-align: right;
      }
      .bigPictureWrapper {
        position: absolute;
        display: none;
        justify-content: center;
        align-items: center;
        top: 0%;
        width: 100%;
        height: 100%;
        background-color: gray;
        z-index: 100;
        background: rgba(0, 0, 0, 0.9);
      }
      .bigPicture {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .bigPicture img {
        width: 1000px;
      }
    </style>

    <title>A.I. Anti-Drone Security Feed</title>
  </head>

  <body>
    <div class="bigPictureWrapper">
      <div class="bigPicture"></div>
    </div>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button
            type="button"
            class="navbar-toggle collapsed"
            data-toggle="collapse"
            data-target="#navbar"
            aria-expanded="false"
            aria-controls="navbar"
          >
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"
            >A.I. Anti-Drone Security streaming</a
          >
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="about.html">About</a></li>
          </ul>
        </div>
        <!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container">
      <br /><br /><br /><br />
      <div class="row">
        <div class="col-md-4">
          
          <img id="bg" class="cam" src="{{ url_for('video_feed1')}}">
          <img id="bg" class="cam" src="{{ url_for('video_feed2')}}">
        </div>

        <div class="col-md-4">

          <img id="bg" src="{{ url_for('video_feed3')}}">
          <img id="bg" src="{{ url_for('video_feed4')}}">
           
        </div>

        <div class="col-md-4" id="drone_data">
          <h3 id="cam0"></h3>
          <h3 id="cam1"></h3>
          <h3 id="cam2"></h3>
          <h3 id="cam3"></h3>
          <h4 id="timedate">Date:</h4>
          <input type = "button" id = "send_button" value = "Capture" />

        </div>
      </div>
    </div>
    <br /><br />

    <div class="container">
      <br />
      <hr class="featurette-divider" />

      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2020 HANSUNG.univ &middot; Capstone Design</p>
      </footer>
    </div>
  </body>
</html>
